{% extends "base.html"%}
{% from "bootstrap/form.html" import render_form, form_errors%}

{%block app_content%}
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h1>Search Song</h1>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <form action="" method="post" novalidate>
        {{ form.csrf_token() }}
        {{ form_errors(form, hiddens="only") }}
        <p>
          {{ form.songname(size=32,class="form-control",placeholder='Search title...') }}<br>
        </p>
      </form>
    </div>
  </div>

  {% if results %}
    <div class="row align-items-center justify-content-center">
      {% for result in results %}
        <div class="col-sm-3" align="center">
          <a href="{{url_for('main.player')+'?id='+result.video_id+'&url='+result.url+'&title='+result.title}}"><img class="img-responsive img-rounded" src="{{result.url}}" /></a>
          <p>{{result.title}}</p>
        </div>
      {% endfor %}
    </div>
  {%endif%}

{%endblock%}
